@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
}
.titleLogin{
    font-size:80px;
    text-align: center;
}
.subtitleLogin{
    font-size:24px
}
.messageTitle{
    color:#283959;
    text-align: center;
}
.inputsLogin{
    width:400px;
}
.loginContainer{
    height: 100vh;
}
.bg-primary{
    background-color: #8EA3BF !important;
}

.loginButton{
    background-color: #69688C;
    width:300px;
    margin: 50px auto;
}

.container{
    height: 100vh;
    padding-right: 0;
}

.container-sm{
    width:750px;
}
.asideImg{
    width: 100%;
}
.imgLogin{
    width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;

}
.btn:hover{
    background-color: #7a77d8;
}

@media( max-width:600px){
    .leftContainer{
        width:51vw;
    }
    .leftContainer .titleLogin{
        font-size:10vw;
    }
    .leftContainer .subtitleLogin{
        font-size: 5vw;
    }
    .leftContainer .messageTitle{
        font-size: 6vw;
    }
    .leftContainer .inputsLogin{
        width:auto;
    }
    .leftContainer .loginButton{
        width:80%;
    }
    .asideImg{
        width: 54vw;
    }
}
@media (min-width:601px){
    
    .leftContainer{
        width:51vw;
    }
    .leftContainer .titleLogin{
        font-size:7vw;
    }
    .leftContainer .subtitleLogin{
        font-size: 2vw;
        text-align: center;
    }
    .leftContainer .messageTitle{
        font-size: 2vw;
    }
    .leftContainer .inputsLogin{
        width: 70%;
        margin: 0 auto;
    }
    .leftContainer .loginButton{
        width:60%;
    }
    .asideImg{
        width: 54vw;
    }
}

@media(min-width:1200px){
    
    .leftContainer .inputsLogin{
        font-size: 2vw;
    }
    .leftContainer .loginButton{
        font-size: 2vw;
    }
}