.ordenTecnico li{
    list-style: disclosure-open;
}

.ordenes li{
    list-style: disc;
}
.tecnico h2{
    font-weight: bold;
    margin-bottom: 25px;
  
}
.tecnico{
  
 
    width: 350px;
    padding: 20px;
}
.ordenes-tecnico h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.badge-aprobada{
    background-color: #40A63D;
}
.badge-cancelada{
    background-color: #A6A6A6;
}
.badge-cerrada{
    background-color: #A6A6A6;
}
.badge-pendiente{
    background-color: #E58769;
}
 