.menu-heading {
  background-color: #69688c;
  color: white;
  padding: 20px;
  
  padding-left: 60px;
 
}

.menu-button {
  background-color: #f2f6fc;
  color: #283959;
  border-bottom: 10px solid #8ea3bf;
  font-size: 1.5rem;
  font-weight: 600;
  width: 80% !important;
  min-width: 220px;
  height: 17.5vh;
  max-height: 180px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button:hover {
  background-color: #f2f6fc;
  color: #283959;
  border-bottom: 10px solid #8ea3bf;
}

.menu-button-container {
  width: 80%;
  margin-left: 10%;
  margin-top: -150px;
  height: 90%;
  align-content: center;
}

.btn-group-vertical {
  width: 90%;
  margin-left: 5%;
  min-width: 220px;
  height: 130px;
}

.container-full-width {
  height: 100vh;
  
}

@media screen and (min-width: 700px) and (max-width: 880px) {
  .menu-button-container {
    width: 98%;
    margin-left: 1%;
  }
  .menu-button {
    min-width: none;
    max-width: 150px;
  }
  .col-md-4 {
    width: 30%;
  }
}
