.cajas{
width: 300px;
margin: 40px 0 30px 30px;
}
.cajas ul {
    padding:0
}
.totalizadorContainer{
    width: 70vw;
  height: 80vh;
  color: #283959;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 15px;
}
.cajas .cajaItem{
    width: 200px;
    margin-top:5px;
    cursor:pointer;
}
.datosCaja{
height: 40px;
}
.datosCaja li{
   margin-top: 5px;
    }
.cajas ul li div img{
    width:22px;

}

/* Caja Seleccionada .jsx */
.codImp{
    width:154px
}
.inputsItems{
    width:25rem;
}
.items{
    width:200px
}
.pestañasFont{
    font-size:20px;
}
