 
.tabs {
  display: flex;
 justify-content: space-around;
  align-items: flex-start; 
  
  
}

 
.tabs-vertical {
  flex-direction: column;
  border-bottom: none;
}



a {
  color: gray;
  text-decoration: none;
  margin: 5px 0; 
   
}

a.activeTab {
  font-weight: bold;
  color: #283959;
}

a .line {
  border-bottom: 2px solid transparent; 
  margin-top: 5px;
  width: 100%;
  position: relative;
}

a.activeTab .line {
  border-bottom: 2px solid #8EA3BF;
  margin-top: 5px;
  width: 200px;
  position: relative;
}