/* tabs2*/
.tabs2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tabs2-vertical {
  flex-direction: column;
  border-bottom: none;
}
/* /////////// */
.tabs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tabs-vertical {
  flex-direction: column;
  border-bottom: none;
}

a {
  color: gray;
  text-decoration: none;
  margin: 5px 0;
  text-align: center;
}

a.activeTab {
  font-weight: bold;
  color: #283959;
  border-bottom: 4px solid #8ea3bf;
  margin-top: 5px;
  width: 200px;
}

a .line {
  border-bottom: 2px solid transparent;
  margin-top: 5px;
  width: 100%;
  position: relative;
}

a.activeTab .line {
  border-bottom: 2px solid #8ea3bf;
  margin-top: 5px;
  width: 200px;
  position: relative;
}

/* Estilos de Tabs en la página de ventas */

.ventas-container .tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw !important;
  height: 80vh;
  margin-left: 2.5%;
  margin-top: 1%;
}

.ventas-container .tabs a {
  background-color: #e6e6e6;
  color: #283959;
  text-decoration: none;
  margin: 10px;
  border-bottom: 6px solid #8ea3bf;
  width: 80%;
  margin-left: 10%;
  font-size: x-large;
  min-height: 10%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.ventas-container .tabs a.activeTab {
  border-bottom: 6px solid #40a63d;
  font-weight: bold;
  color: #283959;
}

.chat .tabs a.activeTab {
  background-color: #c8cfda;
}
