.factura-heading {
  background-color: #69688c;
  color: white;
  padding: 20px;
  padding-left: 60px;
  display: flex;
  justify-content: left;
  text-transform: uppercase;
}

.factura-formulario {
  margin-left: 5%;
  margin-top: 5%;
  color: #283959;
}
.factura-formulario form {
  margin-left: 7.5%;
  margin-top: 2%;
}

.factura-formulario h2 {
  font-weight: bold;
  font-size: 40px;
}

.factura-formulario h3 {
  font-weight: 400;
  font-size: larger;
  width: 15%;
}

.factura-formulario div {
  display: flex;
  align-items: center;
  padding: 10px;
}

.factura-formulario input {
  padding-left: 10px;
  border-radius: 5px;
  border-color: #777777;
}

.factura-formulario select {
  border-radius: 10px;
  height: 3vh;
}

.factura-formulario button {
  background-color: #69688c;
  color: white;
  border-radius: 20px;
  border: none;
  width: 10%;
  height: 3vh;
  margin-left: 10%;
  margin-top: 2%;
}
