.ventas-container {
 
  width: 100%;
  
}

.ventas-tabs {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 20px;
 
}

.ventas-heading {
  background-color: #69688c;
  color: white;
  padding: 20px;
  padding-left: 60px;
  display: flex;
  justify-content: left;
  text-transform: uppercase;
}
