.orderNum{
    height: 500px;
    padding: 20px;
}
.numOrden li{
    list-style: none;
   display: flex;
 margin-left: -80px;
}

.orderNum h3{
   font-weight: bold;
}

.text-aprobado{
    color: #40A63D;
}
.text-pendiente{
    color: #E58769;
}