.orderNum {
  height: 500px;
  padding: 20px;
  overflow-x: hidden !important;
  border-radius: 8px;
}
.numOrden li {
  list-style: none;
  display: flex;
  gap: 25%;
  text-align: center;
  margin: 5px;
}

.numOrden span {
  display: flex;
  align-items: center;
}

.orderNum h3 {
  font-weight: bold;
}

.text-aprobado {
  color: gray;
}

.search-input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.text-entregado {
  color: green;
}

.text-presupuestado {
  color: orange;
}
.arrow-button {
  background-color: #69688c;
  color: #fff;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.arrow-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.arrow-button:not(:disabled):hover {
  background-color: #0056b3;
}