.mantenimiento-ctn {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 50px;
}

.ventas-container {
  width: 100%;
  height: auto;
}

.facturas-ctn {
  margin-top: 50px;
}
.tabs-ctn {
  width: 70vw;
  margin-left: -50px;
  margin-top: 10px;
}


/* Saldos pendientes */
.saldosPendientes{
  width:70vw;
}
.saldosItems{
  margin-left:20px;
}
.saldoItem{
  height:75px;
  text-align: center;
}

.borde-verde{
  border-left: 8px solid #40A63D;
}
.borde-amarillo{
  border-left: 8px solid #FACA50;
}
.borde-rojo{
  border-left: 8px solid #E58769;
}