.bg-primary{
    background-color: rgb(105, 104, 140) !important;
}
.titles{
    text-transform: uppercase; 
    color:white;
    padding:10px
}
.titles h3{
    background-color: #283959;
    border-bottom-left-radius: 5px;
    width: 4%;
    margin: 0;
    text-align: center;
    padding-top: 5px;
}