.inventario-container {
  width: 70vw;
  height: 82vh;
  /* margin-top: 2.5%; */
  padding: 1%;
  color: #283959;
}

.inventario-container h1 {
  padding-top: 1%;
  padding-left: 2.5%;
  font-weight: bold;
}

ul li {
  color: #283959;
}
ul .pestañasInventario {
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2%;
  font-size: larger;
  width: 20%;
  display: flex;
  justify-content: center;
}
ul .pestañasInventarioActive {
  border-bottom: 6px solid #8ea3bf;
  border-radius: 3px;
}

.inventario-container .caja-button-search {
  margin-bottom: 2.5%;
}

.inventario-container .caja-input-text {
  font-size: large;
}

.inventario-container .columna-li {
  color: #283959;
  font-weight: bold;
}

.inventario-container .ulFlecha {
  position: relative;
  height: 5vh;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.inventario-container .grilla {
  color: #283959;
  font-weight: 600;
}

.boton3Puntos {
  list-style: none;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #69688c;
  border-radius: 50%;
  color: white;
  display: block;
}

.boton3Puntos span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  margin-right: 1px;
  margin-left: 1px;
}

.imagenes li img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.divMas {
  position: relative;
  list-style: none;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #69688c;
  border-radius: 50%;
  color: white;
  display: block;
}
.spanMas {
  font-size: 65px;
  position: absolute;
  bottom: -33px;
  right: 2px;
  cursor: pointer;
}

.btnMas {
  width: 30px;
  height: 30px;
  background-color: #69688c;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.btnMas:hover {
  background-color: #5a5780;
}

.inventario-botones {
  justify-content: space-around;
  width: 80%;
}

.grilla-inventario {
  display: flex;
  justify-content: left;
}
.grilla-stock {
  width: 100%;
}

.grilla-stock tr {
  width: 100%;
}

.grilla-stock th {
  width: 25%;
  text-align: center;
  color: #283959;
  font-size: large;
}

.grilla-stock-body td {
  width: 25%;
  text-align: center;
  color: #283959;
  font-weight: 500;
}

.grilla-body tr {
  width: 100%;
}

.grilla-camioneta th {
  width: 20%;
  text-align: center;
  color: #283959;
  font-size: large;
}

.grilla-camioneta-body td {
  width: 20%;
  text-align: center;
  color: #283959;
  font-weight: 500;
}

.grilla-reserva th {
  width: 20%;
  text-align: center;
  color: #283959;
  font-size: large;
}

.grilla-reserva-body td {
  width: 20%;
  text-align: center;
  color: #283959;
  font-weight: 500;
}

.modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reporte-diario {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.panel-izquierdo,
.panel-derecho {
  width: 45%;
}

.visitas-realizadas {
  text-align: center;
}

.grafico-circular {
  width: 100px;
  height: 100px;
  position: relative;
}

.circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#4caf50 80%, #e0e0e0 80%);
  display: inline-block;
}

.inside-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitas-por-tecnico ul {
  list-style-type: none;
  padding: 0;
}

.visitas-por-tecnico li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.barra-contenedor {
  width: 60%;
  background-color: #e0e0e0;
  height: 20px;
  position: relative;
}

.barra {
  background-color: #4caf50;
  height: 100%;
}

.total {
  position: absolute;
  right: 5px;
  top: 2px;
  color: black;
}

.estadisticas-ordenes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.estadistica {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  color: black;
}

.estadistica.ok {
  border-left: 5px solid #4caf50;
  box-shadow: 2px 2px rgb(160, 159, 159);
}

.estadistica.desvio {
  border-left: 5px solid #ffeb3b;
  box-shadow: 2px 2px rgb(160, 159, 159);
}

.estadistica.no-cumplidas {
  border-left: 5px solid #e53935;
  box-shadow: 2px 2px rgb(160, 159, 159);
}

.porcentaje {
  font-size: 14px;
  font-weight: bold;
}
