.libro-container {
 
  width: 70vw;
  height: 80vh;
  color: #283959;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 15px;
 
  
}

.libro-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}

 
.libro-heading {
  font-weight: bold;
  color: #283959;
  display: flex;
  justify-content: left;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 40px;
  
}

.libro-heading-button-container {
  width: 40%;
  margin-left: 5%;
  height: 5vh;
  background-color: #40a63d;
  display: flex;
  justify-content: center;
}

.libro-heading-button {
  background-color: #40a63d;
  min-width: 70%;
  color: white;
  border: none;
  font-size: large;
}

.libro-input-container {
  display: flex;
  padding : 50px;
  
}
.libro-input-container select, .libro-input-container button , .libro-input-container input{
 
  height: 50px;

  
}


.libro-input-container select, .libro-input-container button   {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    background-color: #69688c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto 5px auto 5px;
    cursor: pointer;
    border-radius: 8px;
 
}


.libro-input-text {
 
  font-size: large;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0;
  margin-right: 10px;
  color: #283959;
}

.libro-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  max-width: 30vh;
}
.libro-button-search {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 5px;
  color: white;
  background-color: #777777;
  max-width: 5vh;
}

.libro-container .table {
  overflow-y: auto;
  overflow-x: auto;
  color: #283959;
  --bs-table-bg: var(--bs-table-bg);
  overflow-x: scroll;

  width: 2000px;
}
.libro-excel-wrapper {
  max-height: 40vh;
  overflow-y: auto;
 
  margin-top: 2.5%;
}
.libro-excel-wrapper th {
  text-align: center !important;
  color: #283959;
  font-weight: bold;
  
}

.libro-excel-wrapper tbody {
  text-align: center !important;
  
}
.libro-tabs{
  display: flex;
  margin: 20px auto;
  justify-content: center;

}

.libro-tabs button{
margin: 10px;

} 
.libro-excel-wrapper td {
  color: #283959;
  
}

.row-even {
  background-color: #c8cfda;
}

.libro-export-button-container {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  margin-right: 2%;
 
}

.libro-container td, .libro-container th {
  text-align: left  !important;
 
}
.libro-export-button-container button{
 
  background-color: #69688c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}



.libro-export-button {
  background-color: #69688c;
  border-radius: 100px;
  border: none;
  margin-left: 10px;
  color:#fff;
  padding:10px
}

.libro-export-button svg {
  width: 60%;
}
