.proveedores-container {
  overflow-x: hidden;
  color: #283959;
  scrollbar-width: thin;  
  scrollbar-color: #69688c #c8cfda; 

 
  color: #283959;
  margin: 0 40px;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 15px;
}
.proveedores-heading {
  color: #283959;
  display: flex;
  justify-content: left;
  margin-left: 5%;
}

.proveedores-heading h1 {
  font-weight: bold;
  margin-top: 2%;
}
.proveedores-top-box {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
.proveedores-top-box div {
  width: 25%;
}
.proveedores-top-box h4 {
  font-size: large;
}

.proveedores-select {
  border-radius: 20px;
  padding-left: 5px;
  max-width: 30vw;
  min-width: 10vw;
  min-height: 28px;
}

.proveedores-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 3%;
}

.proveedores-button-arrow {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 5px;
  color: #777777;
  background-color: white;
  max-width: 5vw;
  border-left: none;
}

.proveedores-button-box {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 2%;
 
}

.proveedores-button-box a {
  width: 18%;
  height: 5vh;
 
}

.proveedores-button-box button {
  background-color: #69688c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
 
.proveedores-button-box button:hover {
  background-color: #45a049;  
}

.proveedores-excel-wrapper {
  margin-top: 2%;
  text-align: center;
}

.proveedores-excel-wrapper h2 {
  text-align: start;
  margin-left: 5%;
  font-weight: bold;
  margin-bottom: 2%;
}

.proveedores-excel-wrapper .columna-li {
  font-weight: bold;
}

.proveedores-container .valor-li {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proveedores-container span {
  margin-top: 2.5vh;
}

.grilla-proveedores {
  width: 100%;
}

.grilla-proveedores tr {
  width: 100%;
}

.grilla-proveedores th {
  width: 12.5%;
  text-align: center;
  color: #283959;
  font-size: large;
}

.grilla-proveedores-body td {
  width: 12.5%;
  text-align: center;
  color: #283959;
  font-weight: 500;
}

.grilla-inventario {
  display: flex;
  justify-content: left;
}
