.tagpapelitoButton{
    cursor:pointer;
}
.papelito{
    width:40px;
}
.confirmButton{
    width:100px;
}

.datosRepuesto{
    width:300px;
}
.agregarH1{
    cursor:pointer;
    width: 50px;
    text-align: center;
}
.cobrarCaja-ctn{
    margin-top: 100px;
}