.tagpapelitoButton{
    cursor:pointer;
    margin-top: -30px;
}
.papelito{
    width:40px;
}
.confirmButton{
    width:100px;
}

.datosRepuesto{
    width:300px;
}
.agregarH1{
    cursor:pointer;
    width: 50px;
    text-align: center;
}
.cobrarCaja-ctn{
    margin-top: 100px;
}

@media screen and (max-width: 1200px){
    .confirmButton{
        margin-top:20px;
     
    }
    .tagpapelitoButton{
 
        margin-top: -35px;
        margin-bottom: 30px;
    }
}