/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */

body {
  font-family: 'Raleway', sans-serif;
}

.bg-primary{
    background-color: #8EA3BF !important;
}
.bg-primary-subtle{
  background-color:  #B2C1D7 !important;
}
.bg-secondary{
    background-color: #F2F6FC !important;
}
.bg-secondary-subtle{
    background-color: #E6E6e6 !important;
}
.bg-info{
    background-color: #69688C !important;
}
.bg-light{
  background-color: #c8cfda !important;
}
.bg-body{
  background-color:#FE9568 !important;
}

.text-primary{
  color:#283959 !important;
}
.subtitle{
    color:#283959
}

li{
    list-style: none;
}
 
/* 
#root {
 
  margin: 0 auto;
 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 
