.ulRepuestos{
    height: 150px;
    overflow: scroll;
  
}
.d-flex .justify-content-around button{
    width:20%;
}
.agregarRepuesto{
    cursor:pointer;
    width:35px;
    height:35px;
}
.imageContainer{
    width:35px;
    height:35px;
    margin:.5px 0;
    top:-5px;
    margin-top: 5px;
    cursor: pointer;
}
.imageContainer span{
    position:absolute;
    font-size:11px;
    width:130px;
    top:5px;
    left: 50px;
    
}
.iconsOptions{
    width:25px;
    height:25px;
 
}
.asideButtons{
  position: absolute;
  right:  150px;
  top: -120px;
}

.iconDolar{
    top:5px;
    right:5px;
}
.positionButton{
    position:absolute;
    right:  10px;
    bottom:-10px;
  }
  .orders-btn{
    width: 500px;
    display: flex;
    justify-content: space-around;
  
  }
 
  .black-text {
  color: black;
}
 .orders-btn{
    margin-top: 30px;
 }

 .input-ordenes{
    margin-left: 30px;
  
 }

 @media screen and (max-width: 1200px){
    .input-ordenes{
        margin-left:15px;
        width: 80%;
     }
    
  }
 